<!DOCTYPE html>
<html>
  <head>
    <title>BucketList</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <nav>
        <ul>
          <li><a href='#'>Home</a></li>
          <li><a href='#'>Styleguide</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
